server {
  listen 80;
  listen [::]:80;

  client_max_body_size 20M;
  gzip on;
  server_tokens off;

  location /api {
    proxy_pass $API_PROXY_PASS;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  location / {
    root /usr/share/nginx/html;
    index index.html;
    try_files $uri $uri/ /index.html;
  }
}
